installation:
  cni:
    type: Calico
  calicoNetwork:
    bgp: Disabled
    mtu: 1350
    windowsDataplane: HNS
    ipPools:
    - cidr: 192.168.0.0/16
      encapsulation: VXLAN
  serviceCIDRs: 
    - 10.96.0.0/12 # must match cluster service CIDR (this is the default)
# Image and registry configuration for the tigera/operator pod.
tigeraOperator:
  image: tigera/operator
  registry: capzcicommunity.azurecr.io
calicoctl:
  image: capzcicommunity.azurecr.io/calico/ctl
# when kubernetesServiceEndpoint need to pass dns to look up the name properly
dnsConfig: 
  nameservers:
    - 127.0.0.53
  options:
    - name: edns0
    - name: trust-ad
